################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.swp
packer_cache/
.iso
/.vs
artifacts/
